.logistics-body {
  width: 100%;
  padding-top: 60px;
}

.deliver-content {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 942px;
  // min-width: 1072px;
}